@model IEnumerable<Bank.DAL.Models.Account>

@{
    ViewData["Title"] = "DashboardAccount";
}

@if (User.Identity.IsAuthenticated)
{
@*<div class="form-group col-md-4">
    <select asp-for="Id" asp-items="ViewBag.Id" size="5" multiple class="form-control"></select>
    <span asp-validation-for="AccountNumber" class="text-danger"></span>
</div>*@
<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountLock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountBalance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountMinimum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountLimiet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountType)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountLock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountBalance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountMinimum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountLimiet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountType)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (!User.Identity.IsAuthenticated)
{
<h2>U dient in te loggen om accounts te kunnen bekijken. </h2>
<br />
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
</li>
}
