@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Bank.FrontEnd.ViewModels.ListAndSearchVM
@{
    ViewData["Title"] = "Index";

}
<ul class="nav navbar-nav">
    <li class="nav-item">@Html.ActionLink("Accounts", "Accounts", new { Controller = "IdentityHolder", Area = "Accounts" })</li>
    <li class="nav-item">@Html.ActionLink("Transacties", "Transactions", new { Controller = "IdentityHolder", Area = "Transactions" })</li>
    <li class="nav-item">@Html.ActionLink("Cliënten", "Clients", new { Controller = "IdentityHolder", Area = "Clients" })</li>
</ul>
@if (User.Identity.IsAuthenticated)
{
    <table class="table table-striped table-hover table-bordered tablesModel">
        <thead>
            <tr>
                <th data-field="@Html.DisplayNameFor(model => model.Account.AccountNumber)" data-sortable="true">
                    @Html.DisplayNameFor(model => model.Account.AccountNumber)
                </th>
                <th data-field="@Html.DisplayNameFor(model => model.IdentityHolder.FullName)" data-sortable ="true">
                    @Html.DisplayNameFor(model => model.IdentityHolder.FullName)
                </th>
                <th data-field ="@Html.DisplayNameFor(model => model.Account.AccountBalance)" data-sortable ="true">
                              @Html.DisplayNameFor(model => model.Account.AccountBalance)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Accounts)
            {
            <tr>
                @foreach (var a in Model.IdentityHolders.Where(i => i.Id == item.IdentityHolder.Id))
                {
                    <td data-field="@Html.DisplayNameFor(model => model.Account.AccountNumber)" data-sortable="true">
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>

                    <td data-field ="@Html.DisplayNameFor(model => model.IdentityHolder.FullName)" data-sortable="true">
                        @Html.DisplayFor(modelItem => a.FullName)
                        </td>
                        <td data-field ="@Html.DisplayNameFor(model => model.Account.AccountBalance)" data-sortable ="true">
                            @Html.DisplayFor(modelItem => item.AccountBalance)
                        </td>
                        <td>
                            <a asp-controller="Account" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="Account" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-controller="Account" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
            </tr>
            }
        </tbody>
    </table>
}
@if (!User.Identity.IsAuthenticated)
{
    <h2>U dient in te loggen om een account aan te maken. </h2>
    <br />
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

