@model IEnumerable<Bank.DAL.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<form action="" method="post">
        <p>
            <input type="text" name="SearchValue">
            <input type="submit" value="Filter" />

            <input type="submit" formmethod="post" name="Debit" formaction="Debit" value="Debit" />
            <input type="submit" formmethod="post" name="Credit" formaction="Credit" value="Credit" />
        </p>
    </form>*@

@*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <input type="text" name="SearchValue">
            <input type="submit" name="Filter" value="Filter" formaction="/Home/Index" class="btn btn-default" />

            <input type="submit" name="Debit" formaction="/Home/Index" value="Show All Debit Transactions" class="btn btn-default" />
            <input type="submit" name="Credit" formaction="/Home/Index" value="Show All Credit Transactions" class="btn btn-default" />
        </div>
    </div>*@

@Html.BeginForm()
{
<input type="text" name="SearchValue">
<input type="submit" value="Filter" />
<input type="submit" name="Debit" value="Debit" />
<input type="submit" name="Credit" value="Credit" />
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodicPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodicTransactionFrequentyDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodicPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodicTransactionFrequentyDays)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
