@model Bank.DAL.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPeriodic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPeriodic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodicTransactionFrequentyDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodicTransactionFrequentyDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequenty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequenty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextPayment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
